body{background-color: teal;
display: flex;

}
div{
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
}